/****************************************************************************/
/* VIEWPORT MEDIUM SIZES */
/****************************************************************************/

/***************************************/
/* PAGE SPECIFIC */
/***************************************/

/* HOMEPAGE */

@media only screen and (max-width: 1200px) {
  .homepage-hero-section {
    flex-direction: column;
    align-items: center;
  }

  .carousel-container {
    max-width: calc((350px * 2) + 1rem); /* Adjust the number of cards shown */
  }

  .welcome-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
  }

  .author-img {
    max-width: 100%;
  }

  .welcome-txt-container {
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
  }

  .rm-btn-cont {
    margin-bottom: 1.5rem;
  }

  /* POSTS PAGE */

  .bloglist-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* CONTACT PAGE */

  .contact-form-section {
    margin: 0 2rem;
    margin-bottom: var(--mb-main);
  }

  .contact-img {
    display: none;
  }
}

/****************************************************************************/
/* VIEWPORT SMALL SIZES */
/****************************************************************************/

/***************************************/
/* GLOBAL STYLING */
/***************************************/

@media only screen and (max-width: 768px) {
  /* MAIN NAVIGATION */

  nav {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
    background-color: var(--clr-sec-background);
    position: absolute;
    top: 175px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  #menu-checkbox:checked ~ nav {
    max-height: 500px;
  }

  .nav-list {
    flex-direction: column;
    padding: 2rem 0;
  }

  header {
    position: relative;
    flex-direction: column;
    gap: 2rem;
  }

  .nav-list li {
    text-align: center;
    line-height: 2;
  }

  .nav-list li a {
    width: 100%;
    display: block;
  }

  /* FOOTER */

  .newsletter-section {
    padding: 2rem 0.5rem;
    text-align: center;
  }

  .newsletter-form {
    flex-wrap: wrap;
    justify-content: center;
  }

  .newsletter-input {
    padding: 0.5rem;
  }

  .footer-links {
    flex-direction: column;
    gap: 2rem;
  }

  /***************************************/
  /* PAGE SPECIFIC */
  /***************************************/

  /* HOMEPAGE */

  .carousel-container {
    max-width: 350px; /* Adjust the number of cards shown */
  }

  .prev-arrow {
    left: 0;
  }

  .next-arrow {
    right: 0;
  }

  .welcome-section {
    width: 100%;
  }

  /* POSTS PAGE */

  .bloglist-container {
    grid-template-columns: 1fr;
  }

  /* ABOUT PAGE */

  .about-content-container {
    margin: 0 auto;
  }

  .about-main-txt-container {
    flex-direction: column;
  }

  .about-outro-txt-container {
    flex-direction: column-reverse;
    margin-bottom: 5rem;
  }

  .about-img-container {
    width: 100%;
  }

  .about-txt-container {
    width: 100%;
  }

  /* CONTACT PAGE */

  .contact-txt {
    margin-top: 1rem;
  }

  /* POST SPECIFIC PAGE */

  .specific-meta-bar .txt {
    font-size: var(--f-size-body-medium);
  }
}
